@mixin flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin block{
    width: 100px;
    height: 100px;
    padding: 50px;
    margin: 10px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: 600;
    transition: 0.3s ease all;
}

@mixin button{
    font-family: 'Lato', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    color: green;
    border: 3px solid green;
    font-size: 1.2em;
    transition: 0.3s ease all;

    &:hover{
        cursor: pointer;
        color: white;
        background-color: green;
    }

    &:disabled{
        color: gray;
        border: 3px solid gray;
        background-color: white;
        cursor: not-allowed;
    }
}

@mixin form{
    article{
        @include flex-row;
        align-items: flex-start;
        gap: 10%;

        @include responsive(smartphone-portrait){
            flex-direction: column;
            align-items: center;
        }

        @include responsive(smartphone-landscape){
            flex-direction: column;
            align-items: center;
        }

        >section{
            @include flex-column;
            width: 20%;
            padding: 20px;
            gap: 20px;

            @include responsive(smartphone-portrait){
                flex-direction: column;
                width: 80%;
                align-items: center;
            }

            @include responsive(smartphone-landscape){
                flex-direction: column;
                width: 80%;
                align-items: center;
            }

            .property{
                width: 100%;
                @include flex-column;
                gap: 5px;
            }

            button{
                @include button;
            }
        }
    }
}

@mixin responsive( $breakpoint ) {
    @if $breakpoint == smartphone-portrait {
        @media only screen and ( max-width: 575.98px ) {
            @content;
        }
    }
    @if $breakpoint == smartphone-landscape {
        @media only screen and ( min-width: 575.99px ) and ( max-width: 767.99px ) {
            @content;
        }
    }
    @if $breakpoint == tablet {
        @media only screen and ( min-width: 767.99px ) and ( max-width: 1199.97px ) {
            @content;
        }
    }
    @if $breakpoint == laptop {
        @media only screen and ( min-width: 1199.98px  ) and ( max-width: 1399.98px ) {
            @content;
        }
    }
    @if $breakpoint == desktop {
        @media only screen and ( min-width: 1399.99px ) {
            @content;
        }
    }
}